:host{ 
    display: block;
    left: 0;

    width: 800px;
    height: 60px;
    background-color: #26384E;
}


button{
    background-color: #A9E3E3;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;  
    height: 50px;

    margin-top: 5px;
    margin-bottom: 5px;
}

button.Previous{
    margin-left: 308px;
    margin-right: 44px;
}

button.Next{
    margin-left: 43px;
    margin-right: 305px;
}

div.number-page{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 5px;
    left: 380px;
}

img{
    max-width: 100%;
    height: auto;
}