<div>
    <a (click) = goToPreviousPage() >&laquo; Previous </a> 
    <a (click) = goToNextPage() >Next &raquo; </a>
</div>

<div id="lightCups">
    <a (click) = lightCup2() > BlinkCup2Red </a> 
    <a (click) = switchoff() > Switchoff </a>
    <a (click) = lightCup3() > BlinkCup3Green </a>
    <a (click) = lightEmptySLotsCup3() > Blink Empty Cup3 Yellow </a>

</div>


<div id="lightRealCupboard">
    <a (click) = ExpiringMushroom() > Light Expiring Mushroom </a> 
    <a (click) = EmptySlots() > Light Empty Slots #1 </a>
    <a (click) = EmptySlots2() > Light Empty Slots #2</a>

    <a (click) = RiceGreenLight() > Rice - Door1 Green </a>
    <a (click) = CloseCup1() > Close Cup 1 </a>
    <a (click) = OpenCup1() > Open Cup 1 </a>
    
</div>

<div id="audio">
    <a (click) = startCooking() > Start Cooking </a> 
    <a (click) = wrongMushroom() >Wrong Mushroom </a>
    <a (click) = startStoring() > Start Storing </a>
    <a (click) = tsigarisma() > Tsigarisma </a>

</div>

<div id="audio2">
    <a (click) = expiringProducts() > Expiring Products </a> 
    <a (click) = sugarLocation() > Sugar Location </a>
    <a (click) = emptySlots() >  Empty Slots </a>
</div>

<div id="Reset">
    <a (click) = Reset() > Reset </a> 
</div>