<div class="main-container" *ngIf="totalNumPages > 1">
    <div class="button-container left">
        <button class="Previous" type="button" (click)=goToPreviousPage(currentNumPage)>
            <div class="left-arrow"> </div>

        </button>
    </div>
    <div class="button-container right">
        <button class="Next" type="button" (click)="goToNextPage(currentNumPage)">
            <div class="right-arrow"> </div>
        </button>
    </div>

    <div class="number-page">
        {{currentNumPage}}/{{totalNumPages}}
    </div>
</div>