:host{ 
    display: block;
    left: 0;

    width: 800px;
    height: 360px;

}


div.col1{
    position: absolute;
    top: 0;
    left: 0;
}


div.col2{
    position: absolute;
    top: 0px;
    left: 400px;
}