<div class="mainContainer" (contextmenu)="onRightClick()">
    <div class="UpperBar">

        <ami-fullstack-top [PageProductName]="PageTitleName" [TotalNumItems]="numberOfItems"
            [TotalWeight]="totalQuantity">

        </ami-fullstack-top>
    </div>

    <div class="middleBar">
        <ng-container *ngIf="responseReceived === true">

            <ami-fullstack-middle [productData]="dataToPassToMiddleChild">

            </ami-fullstack-middle>
        </ng-container>
    </div>


    <div class="bottomBar">
        <ng-container *ngIf="responseReceived === true">

            <ami-fullstack-bottom-bar [totalPages]="dataToBottomBar"
                (newPressedPageEvent)="handleButtonBottomBarEvents($event)">

            </ami-fullstack-bottom-bar>
        </ng-container>
    </div>
</div>