.mainContainer{
    cursor: none !important; 
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;

    width: 800px;
    height: 480px;
    border-bottom: solid black;
}

div.UpperBar{
    position: absolute;
    left: 0px;
    top: 0px;
}

div.middleBar{
    position: absolute;
    left: 0px;
    top: 60px;
}

div.bottomBar{
    position: absolute;
    left: 0px;
    top: 420px;
}
