<div class="PageTitle">
    Statistics
</div>


<div class = "HomePageButton">
    <button class="HomeButton" routerLink = "/"> <img src= "../../assets/images_marios/icons8-home-30.png"/>  </button>
</div>


<div class="but">
    <button id = 1  (click)= "pressButtonFunc(0)" [ngClass] = "{'yellow' : pressState[0] , 'blue' : !pressState[0]}">   Usage  </button>
    <button id = 2  (click)= "pressButtonFunc(1)" [ngClass] = "{'yellow' : pressState[1] , 'blue' : !pressState[1]}"> Supply </button>
</div>