body{
    width: 800px;
    height: 480px;
    border-bottom: solid black;
}

div.bottomBar{
    position: absolute;
    left: 0px;
    top: 420px;
}

div.middleBar{
    position: absolute;
    left: 0px;
    top: 60px;
}

div.UpperBar{
    position: absolute;
    left: 0px;
    top: 0px;
}